li > span {
  display: inline-block;
  min-width: 100px;
}

.receiptProduct {
  text-align: start;
}

.receiptPrice {
  color: green;
  text-align: end;
  font-weight: bold;
}

@media (max-width: 479px) {
  li > span {
    min-width: 75px;
  }
}
